h2#timer_div {

	margin-right: 37px;
}

h1 {font-family: 'Permanent Marker', cursive;
	font-size: 70px;
	text-align: center;
	color: white;

}

#timeRemain, #time_div {
	font-family: 'Fredoka One', cursive;
	margin-right: 40px;
	color: white;
	
	}

body {
	text-align: center;
	background-color: gray;
}

form {
	font-family: 'Jura', sans-serif;
	color: white;
}

.question{
	font-style: italic;
	margin: 15px 2px;
	color: white;
}

.submit {
	font-size: 20px;
	margin: 20px 0px;
	background-color: gray;
	border: 3px solid darkgray;
	
	font-family: 'Bowlby One SC', cursive;


}

body {
	border: 2px solid white;
	margin-left: 50px;
	margin-right: 50px;
	background-image: url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
}